# IDE files
.vscode/
.idea/

# Dependencies
node_modules/

# Build output
dist/

# Keep ts files only
credentials/*.js
credentials/*.d.ts
nodes/**/*.js
nodes/**/*.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Other
.DS_Store
