name: CI
permissions: read-all
on:
  pull_request:
  push:
    branches:
      - development
      - main

jobs:
  test:
    name: NODE${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22, 24]

    steps:
      - uses: actions/checkout@v5

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install dependencies
        run: 'pnpm install --frozen-lockfile'

      - name: Run lint
        run: 'pnpm run lint'

      - name: Run format
        run: 'pnpm run format'

      - name: Run build
        run: 'pnpm run build'
